
.footer {
    height:px ;
    padding-left: 6px;
    margin-top: 5px;
    line-height: 40px;
}

.footer label {
    margin-right: 20px;
    cursor: pointer;
}

.footer label input {
    margin-right: 5px;
}

.footer button {
    float: right;
    margin-top: 5px;
}
